In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./UH_2023/UH_2023_TRAIN.txt", sep = "|")

In [3]:
df = df.astype({"CAMPAÑA": str, "ID_FINCA": str, "ID_ZONA": str, "ID_ESTACION": str, "VARIEDAD": str, "MODO": str, "TIPO": str, "COLOR": str})

In [4]:
def fun(x, mode): 
    altitud = str(x).split('-')
    if altitud[0] == "nan":
        if mode == "nan_1":
            return -1
        return np.nan
    if mode == "nan_1":
            return x
    if mode == "min":
        return int(altitud[0])
    if mode == "diff":
        if len(altitud) == 1:
            return 0
        else:
            return int(altitud[1])-int(altitud[0])

df["ALTITUD_MIN"] = df["ALTITUD"].apply(fun, args=("min",))
df["ALTITUD_DIF"] = df["ALTITUD"].apply(fun, args=("diff",))
df["ALTITUD"] = df["ALTITUD"].apply(fun, args=("nan_1",))

In [5]:
df_estacion_gb_mean = df.groupby(by="ID_ESTACION").mean()
df_estacion_gb_mode = df.groupby(by="ID_ESTACION").agg(pd.Series.mode)

C:\Users\xavid\anaconda3\lib\site-packages\pandas\core\algorithms.py:968: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  warn(f"Unable to sort modes: {err}")
C:\Users\xavid\AppData\Local\Temp\ipykernel_8072\3219566741.py:2: FutureWarning: ['SUPERFICIE', 'PRODUCCION'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df_estacion_gb_mode = df.groupby(by="ID_ESTACION").agg(pd.Series.mode)

In [6]:
df_estacion_gb_mean.reset_index(inplace=True)
df_estacion_gb_mode.reset_index(inplace=True)

In [7]:
df_estacion_gb_mode.loc[df_estacion_gb_mode["ID_ESTACION"] == "0", "ALTITUD"] = 390
df_estacion_gb_mode.loc[df_estacion_gb_mode["ID_ESTACION"] == "4", "ALTITUD"] = 520

In [8]:
for i in df["ID_ESTACION"].unique():
    df.loc[(df["ID_ESTACION"] == i) & (df["ALTITUD"] == -1),"ALTITUD_MIN"] = df_estacion_gb_mean.loc[df_estacion_gb_mean["ID_ESTACION"] == i,"ALTITUD_MIN"].values[0]
    df.loc[(df["ID_ESTACION"] == i) & (df["ALTITUD"] == -1),"ALTITUD_DIF"] = df_estacion_gb_mean.loc[df_estacion_gb_mean["ID_ESTACION"] == i,"ALTITUD_DIF"].values[0]
    df.loc[(df["ID_ESTACION"] == i) & (df["ALTITUD"] == -1),"ALTITUD"] = df_estacion_gb_mode.loc[df_estacion_gb_mode["ID_ESTACION"] == i,"ALTITUD"].values[0]

In [9]:
df

,CAMPAÑA,ID_FINCA,ID_ZONA,ID_ESTACION,ALTITUD,VARIEDAD,MODO,TIPO,COLOR,SUPERFICIE,PRODUCCION,ALTITUD_MIN,ALTITUD_DIF
0,14,76953,515,4,660,26,2,0,1,0.0000,22215.0,660.000000,0.00000
1,14,84318,515,4,660,26,2,0,1,0.0000,22215.0,660.000000,0.00000
2,14,85579,340,4,520,32,2,0,1,0.0000,20978.0,520.000000,0.00000
3,14,69671,340,4,520,32,2,0,1,0.0000,40722.0,520.000000,0.00000
4,14,14001,852,14,650-660,81,1,0,1,0.0000,14126.0,654.501718,9.19244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9596,22,37461,239,6,700,52,2,0,1,3.6800,NaN,700.000000,0.00000
9597,22,58769,239,6,700,32,2,0,1,4.2500,NaN,700.000000,0.00000
9598,22,58769,239,6,700,59,2,0,1,4.0700,NaN,700.000000,0.00000
9599,22,88928,239,6,700,40,2,0,1,4.5727,NaN,700.000000,0.00000
9600,22,88928,239,6,700,52,2,0,1,1.6099,NaN,700.000000,0.00000

In [10]:
import category_encoders as ce

encoder = ce.OneHotEncoder(cols=["ID_FINCA", "ID_ZONA", "ID_ESTACION", "VARIEDAD", "ALTITUD"])

df_encoded = encoder.fit_transform(df)

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [11]:
df_encoded.head()

,CAMPAÑA,ID_FINCA_1,ID_FINCA_2,ID_FINCA_3,ID_FINCA_4,ID_FINCA_5,ID_FINCA_6,ID_FINCA_7,ID_FINCA_8,ID_FINCA_9,...,VARIEDAD_23,VARIEDAD_24,VARIEDAD_25,MODO,TIPO,COLOR,SUPERFICIE,PRODUCCION,ALTITUD_MIN,ALTITUD_DIF
0,14,1,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,0.0,22215.0,660.000000,0.00000
1,14,0,1,0,0,0,0,0,0,0,...,0,0,0,2,0,1,0.0,22215.0,660.000000,0.00000
2,14,0,0,1,0,0,0,0,0,0,...,0,0,0,2,0,1,0.0,20978.0,520.000000,0.00000
3,14,0,0,0,1,0,0,0,0,0,...,0,0,0,2,0,1,0.0,40722.0,520.000000,0.00000
4,14,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0.0,14126.0,654.501718,9.19244

In [13]:
data = df_encoded.drop(index=df_encoded[df_encoded["CAMPAÑA"] == "22"].index)
to_train = data[(data["CAMPAÑA"] == "20") | (data["CAMPAÑA"] == "21")]
to_predict = data[(data["CAMPAÑA"] != "20") & (data["CAMPAÑA"] != "21")]

In [15]:
X = to_train.drop(axis = 1, columns = ["SUPERFICIE"])
y = to_train["SUPERFICIE"]
to_predict = to_predict.drop(axis = 1, columns = ["SUPERFICIE"])

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor


model = {"model_name": "SVC", "model": MLPRegressor(), "params": {'hidden_layer_sizes':[(100),(100,100,100)],
                                                                  'learning_rate':["constant", "adaptive"],}}

grid_search = GridSearchCV(model["model"], model["params"], scoring="r2")
grid_search.fit(X, y)

In [94]:
print(grid_search.best_params_)
df = pd.DataFrame(grid_search.cv_results_)
df

{'hidden_layer_sizes': 100, 'learning_rate': 'adaptive'}

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_hidden_layer_sizes,param_learning_rate,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,14.371279,7.202682,0.098943,0.004439,100,constant,"{'hidden_layer_sizes': 100, 'learning_rate': '...",0.123603,0.591749,0.257049,0.374899,0.280996,0.325659,0.155407,3
1,14.513178,5.896693,0.100253,0.005974,100,adaptive,"{'hidden_layer_sizes': 100, 'learning_rate': '...",0.461397,0.246296,0.530267,0.561855,0.642507,0.488464,0.134343,1
2,7.712112,1.254087,0.107433,0.006283,"(100, 100, 100)",constant,"{'hidden_layer_sizes': (100, 100, 100), 'learn...",0.458992,0.465680,0.558451,0.441232,-2.256355,-0.066400,1.095735,4
3,9.669366,2.644009,0.105158,0.006142,"(100, 100, 100)",adaptive,"{'hidden_layer_sizes': (100, 100, 100), 'learn...",0.421468,0.514944,0.526402,0.391756,0.449338,0.460782,0.052308,2

In [16]:
modelMLPR = MLPRegressor(hidden_layer_sizes=(100), learning_rate="adaptive")
modelMLPR.fit(X, y)
predicted = modelMLPR.predict(to_predict)

In [29]:
final_df = to_predict
final_df["SUPERFICIE"] = predicted

In [30]:
final_df

,CAMPAÑA,ID_FINCA_1,ID_FINCA_2,ID_FINCA_3,ID_FINCA_4,ID_FINCA_5,ID_FINCA_6,ID_FINCA_7,ID_FINCA_8,ID_FINCA_9,...,VARIEDAD_23,VARIEDAD_24,VARIEDAD_25,MODO,TIPO,COLOR,PRODUCCION,ALTITUD_MIN,ALTITUD_DIF,SUPERFICIE
0,14,1,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,22215.0,660.000000,0.00000,3.696552
1,14,0,1,0,0,0,0,0,0,0,...,0,0,0,2,0,1,22215.0,660.000000,0.00000,3.696552
2,14,0,0,1,0,0,0,0,0,0,...,0,0,0,2,0,1,20978.0,520.000000,0.00000,3.241230
3,14,0,0,0,1,0,0,0,0,0,...,0,0,0,2,0,1,40722.0,520.000000,0.00000,5.634995
4,14,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,14126.0,654.501718,9.19244,2.846990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6471,19,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,22947.5,700.000000,0.00000,3.769978
6472,19,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,30840.0,700.000000,0.00000,4.595498
6473,19,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,24090.0,700.000000,0.00000,3.879738
6474,19,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,35920.0,700.000000,0.00000,5.211837
6475,19,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,11302.5,700.000000,0.00000,2.237775

In [32]:
final_df = pd.concat([final_df, to_train])

In [33]:
final_df

,CAMPAÑA,ID_FINCA_1,ID_FINCA_2,ID_FINCA_3,ID_FINCA_4,ID_FINCA_5,ID_FINCA_6,ID_FINCA_7,ID_FINCA_8,ID_FINCA_9,...,VARIEDAD_23,VARIEDAD_24,VARIEDAD_25,MODO,TIPO,COLOR,PRODUCCION,ALTITUD_MIN,ALTITUD_DIF,SUPERFICIE
0,14,1,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,22215.0,660.000000,0.00000,3.696552
1,14,0,1,0,0,0,0,0,0,0,...,0,0,0,2,0,1,22215.0,660.000000,0.00000,3.696552
2,14,0,0,1,0,0,0,0,0,0,...,0,0,0,2,0,1,20978.0,520.000000,0.00000,3.241230
3,14,0,0,0,1,0,0,0,0,0,...,0,0,0,2,0,1,40722.0,520.000000,0.00000,5.634995
4,14,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,14126.0,654.501718,9.19244,2.846990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,21,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,28160.1,700.000000,0.00000,3.680000
8522,21,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,41310.0,700.000000,0.00000,4.250000
8523,21,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,45420.0,700.000000,0.00000,4.160000
8524,21,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,56140.0,700.000000,0.00000,4.750000
8525,21,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,13869.9,700.000000,0.00000,1.462000