In [1]:
import pandas as pd

In [2]:
cas_1 = pd.read_csv("./cas1.csv")

In [5]:
cas_1.head(20)

    INDEX  PRODUCCION
0    8526  22736.0940
1    8527  44657.3400
2    8528   7656.0005
3    8529  33794.2900
4    8530  12846.2750
5    8531  31465.6270
6    8532  53658.9840
7    8533  46966.3700
8    8534  10716.1100
9    8535  31995.9260
10   8536  10567.5230
11   8537  39559.0620
12   8538   2592.6348
13   8544  10226.4100
14   8545   2167.8105
15   8546   5981.4320
16   8547   7305.9980
17   8548   4335.2750
18   8549   2347.5884
19   8550   3595.1094

In [ ]:
DATASET_GROS = pd.read_csv("../UH_2023/UH_2023_TRAIN.txt", sep = "|", dtype = {'CAMPAÑA': int,
                                                                              'ID_FINCA': int,
                                                                              'ID_ZONA': int,
                                                                              'ID_ESTACION': int,
                                                                              'ALTITUD': str,
                                                                              "VARIEDAD": str,
                                                                              "MODO": int,
                                                                              "TIPO": str, 
                                                                              "COLOR": int, 
                                                                              "SUPERFICIE": float, 
                                                                              "PRODUCCION":float
                                                                              })

DATASET_GROS = DATASET_GROS[DATASET_GROS["CAMPAÑA"]==22]

DATASET_GROS["PRODUCCION"] = np_array_o



DATASET_GROS = DATASET_GROS.drop(columns=["ALTITUD", "ID_ZONA", "ID_ESTACION"])

DATASET_GROS = DATASET_GROS.reindex(columns=["ID_FINCA", "VARIEDAD", "MODO", "TIPO", "COLOR", "SUPERFICIE", "PRODUCCION"])
DATASET_GROS = DATASET_GROS.sort_values(by=["ID_FINCA", "VARIEDAD", "MODO", "TIPO", "COLOR", "SUPERFICIE"])

DATASET_GROS["PRODUCCION"] = DATASET_GROS["PRODUCCION"].apply(lambda x: '{:.2f}'.format(x) if type(x) is int or type(x) is float else x)
DATASET_GROS["SUPERFICIE"] = DATASET_GROS["SUPERFICIE"].apply(lambda x: '{:.2f}'.format(x) if type(x) is int or type(x) is float else x)

def fun(x): 
    x=str(x)
    if len(x) == 0:
        return '"' + '000' +'"'
    elif len(x) == 1:
        return '"' + '00' + x +'"'
    elif len(x) == 2:
        return '"' + '0' + x +'"'
    elif len(x) == 3:
        return '"' + x +'"'

def fun2(x): 
    x='"' + str(x) +'"'
    return x

DATASET_GROS["VARIEDAD"] = DATASET_GROS["VARIEDAD"].apply(fun)
DATASET_GROS["TIPO"] = DATASET_GROS["TIPO"].apply(fun2)


name_file = "UH2023_Universitat Autònoma de Barcelona (UAB)_Farts del vi_1.txt"
DATASET_GROS.to_csv(name_file, sep = "|", header=False, index=False)